<a href="https://github.com/ng-web-apis/common" target="_blank" class="link">
    <div>
        <h2>Common</h2>
        A set of common utils for consuming <strong>Web APIs</strong> with Angular
    </div>
    <img
        class="icon"
        src="/assets/images/common.svg"
        width="64"
        height="64"
        alt="Common utils logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/audio"
    target="_blank"
    class="link"
    [class.not_supported]="!audioSupport"
>
    <div>
        <h2>Audio</h2>
        A library for declarative use of <strong>Web Audio API</strong> with Angular
    </div>
    <img
        class="icon"
        src="/assets/images/audio.svg"
        width="64"
        height="64"
        alt="Web Audio API logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/geolocation"
    target="_blank"
    class="link"
    [class.not-supported]="!geolocationSupport"
>
    <div>
        <h2>Geolocation</h2>
        An Observable based abstraction to use <strong>Geolocation API</strong> with
        Angular
    </div>
    <img
        class="icon"
        src="/assets/images/geolocation.svg"
        width="64"
        height="64"
        alt="Geolocation API logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/midi"
    target="_blank"
    class="link"
    [class.not-supported]="!midiSupport"
>
    <div>
        <h2>MIDI</h2>
        An Observable based library for the use of <strong>Web MIDI API</strong> with
        Angular
    </div>
    <img
        class="icon"
        src="/assets/images/midi.svg"
        width="64"
        height="64"
        alt="Web MIDI API logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/payment-request"
    target="_blank"
    class="link"
    [class.not-supported]="!paymentRequestSupport"
>
    <div>
        <h2>Payment Request</h2>
        A library for declarative use of <strong>Payment Request API</strong> with Angular
    </div>
    <img
        class="icon"
        src="/assets/images/payment-request.svg"
        width="64"
        height="64"
        alt="Payment Request API logo"
    />
</a>
