<a href="https://github.com/ng-web-apis/common" target="_blank" class="link">
    <div>
        <h2>Common</h2>
        A set of common utils for consuming <strong>Web APIs</strong> with Angular
    </div>
    <img
        class="icon"
        src="/dist/assets/images/common.svg"
        width="64"
        height="64"
        alt="Common utils logo"
    />
</a>
<a href="https://github.com/ng-web-apis/universal" target="_blank" class="link">
    <div>
        <h2>Universal</h2>
        A set of fallbacks to seamlessly use <strong>Web APIs</strong> with Angular
        Universal
    </div>
    <img
        class="icon"
        src="/dist/assets/images/universal.svg"
        width="64"
        height="64"
        alt="Universal logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/audio"
    target="_blank"
    class="link"
    [class.not_supported]="!audioSupport"
>
    <div>
        <h2>Audio</h2>
        A library for declarative use of <strong>Web Audio API</strong> with Angular
    </div>
    <img
        class="icon"
        src="/dist/assets/images/audio.svg"
        width="64"
        height="64"
        alt="Web Audio API logo"
    />
</a>
<a href="https://github.com/ng-web-apis/canvas" target="_blank" class="link">
    <div>
        <h2>Canvas</h2>
        A library for declarative use of <strong>Canvas API</strong> with Angular
    </div>
    <img
        class="icon"
        src="/dist/assets/images/canvas.svg"
        width="64"
        height="64"
        alt="Canvas API logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/geolocation"
    target="_blank"
    class="link"
    [class.not-supported]="!geolocationSupport"
>
    <div>
        <h2>Geolocation</h2>
        An Observable based abstraction to use <strong>Geolocation API</strong> with
        Angular
    </div>
    <img
        class="icon"
        src="/dist/assets/images/geolocation.svg"
        width="64"
        height="64"
        alt="Geolocation API logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/intersection-observer"
    target="_blank"
    class="link"
    [class.not-supported]="!intersectionSupport"
>
    <div>
        <h2>Intersection Observer</h2>
        An library for declarative use of <strong>Intersection Observer API</strong>
        with Angular
    </div>
    <img
        class="icon"
        src="/dist/assets/images/intersection-observer.svg"
        width="64"
        height="64"
        alt="Intersection Observer API logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/midi"
    target="_blank"
    class="link"
    [class.not-supported]="!midiSupport"
>
    <div>
        <h2>MIDI</h2>
        An Observable based library for the use of <strong>Web MIDI API</strong> with
        Angular
    </div>
    <img
        class="icon"
        src="/dist/assets/images/midi.svg"
        width="64"
        height="64"
        alt="Web MIDI API logo"
    />
</a>
<a href="https://github.com/ng-web-apis/mutation-observer" target="_blank" class="link">
    <div>
        <h2>Mutation Observer</h2>
        An library for declarative use of <strong>Mutation Observer API</strong>
        with Angular
    </div>
    <img
        class="icon"
        src="/dist/assets/images/mutation-observer.svg"
        width="64"
        height="64"
        alt="Mutation Observer API logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/payment-request"
    target="_blank"
    class="link"
    [class.not-supported]="!paymentRequestSupport"
>
    <div>
        <h2>Payment Request</h2>
        A library for declarative use of <strong>Payment Request API</strong> with Angular
    </div>
    <img
        class="icon"
        src="/dist/assets/images/payment-request.svg"
        width="64"
        height="64"
        alt="Payment Request API logo"
    />
</a>
<a
    href="https://github.com/ng-web-apis/resize-observer"
    target="_blank"
    class="link"
    [class.not-supported]="!resizeSupport"
>
    <div>
        <h2>Resize Observer</h2>
        An library for declarative use of <strong>Resize Observer API</strong>
        with Angular
    </div>
    <img
        class="icon"
        src="/dist/assets/images/resize-observer.svg"
        width="64"
        height="64"
        alt="Resize Observer API logo"
    />
</a>
